{% extends 'base.html.twig' %}

{% block title %}Contact - {% endblock %}

{% block body %}
	
	<h1>Mentions l&eacute;gales</h1>

    <div class="mentionslegales">
    
        <p>Nom de l'entreprise : <b></b></p>
        <p>Si&egrave;ge social : <b></b></p>
        <p>T&eacute;l. : <b></b></p>
        <p>Fax : <b></b></p>
        <p>E-mail : <b><a href="mailto:"></a></b></p>
        <p>Directeur de la publication : <b></b></p>
        <p>RCS : <b></b></p>
        <p>SIREN : <b></b></p> 
        <p>Capital : <b></b></p>
        <p>TVA Intracommunautaire : <b></b></p>
        
        <p>
        R&eacute;alisation :
        <div class="marge">
             <strong>Direct@Web</strong><br />
             53 rue Albert Camus 58000 Nevers<br />
             T&eacute;l. : 03 86 71 60 50<br />
             <a href="http://www.direct-web.fr" target="_blank">www.direct-web.fr</a>
        </div>
        </p>
        
        <p>
        H&eacute;bergement :
        <div class="marge">
             <strong><a href="http://www.ovh.com" target="_blank">www.ovh.com</a></strong>
        </div>
        </p>
        
        <br /><hr />
        
        <p>
        Le site et les informations qu'il contient sont prot&eacute;g&eacute;s par la loi fran&ccedil;aise sur la propri&eacute;t&eacute; intellectuelle et par les conventions internationales. Le site et les &eacute;l&eacute;ments de son contenu ne peuvent &ecirc;tre ni reproduits, ni republi&eacute;s, ni modifi&eacute;s sans l'autorisation &eacute;crite pr&eacute;alable des ayants droits.
        </p>
        <p>
        L'utilisateur est inform&eacute; que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation. Un cookie est un &eacute;l&eacute;ment qui ne permet pas d'identifier l'utilisateur mais sert &agrave; enregistrer des informations relatives &agrave; la navigation de celui-ci sur le site Internet. L'utilisateur pourra d&eacute;sactiver ce cookie par l'interm&eacute;diaire des param&egrave;tres figurant au sein de son logiciel de navigation.
        </p>
        <p>
        L'utilisateur dispose d'un droit d'acc&egrave;s, de modification, de rectification et de suppression des donn&eacute;es qui le concernent. (art. 34 de la loi &quot;Informatique et Libert&eacute;s&quot; du 6 janvier 1978). Pour l'exercer, l'utilisateur peut s'adresser aupr&egrave;s du Directeur de la publication vis&eacute; plus haut.
        </p>
    
    </div>


{% endblock %}
