{% extends 'base.html.twig' %}

{% block title %}Catégories - {% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Catégories</h1>
	
	<a href="{{ path('add_categorie') }}">Ajouter une catégorie</a>
	
	<ul>
	{% for categorie in categories %}
		<li>{{ categorie.titre }} <a href="{{ path('update_categorie', {"id":categorie.id}) }}"><i class="fa fa-edit"></i></a></li>
	{% endfor %}
	</ul>
	
    
</div>
{% endblock %}
